<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Ratatouille"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ratatouille"
        tools:targetApi="31">

        <!-- Private activities -->
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".AuthenticationActivity" android:exported="false" />
        <activity android:name=".UpdateRecipeActivity" android:exported="false" />
        <activity android:name=".Upload_Recipe" android:exported="false" />
        <activity android:name=".DetailActivity" android:exported="false"/>

        <!-- Main Activity: Adjust exported based on access needs -->
        <activity android:name=".MainActivity" android:exported="true"/>

        <!-- Entry point of the app -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
